.container {
    text-align: center;
    padding-bottom: 20px;
}
.title {
    text-align: center;
    padding: 5px 0px 10px 0px;
}

/* 
    Based on the code here: 
    https://codepen.io/shammadahmed/pen/JOWEGW
*/
.tiles{
    margin: 0 auto;
    display: grid;
    width: 520px;
    height: 520px;
    /* padding: 4px; */

    background-color: #373F51;
    border: 15px solid #373F51;
    border-radius: 6px;

    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    justify-content: center;
}
    
.tiles .cell {
    padding-top: 14px;
    background-color: #9AADBF;
    color: black;
    text-align: center;
    font-weight: bold;
    border: 8px solid #373F51;
    border-radius: 15px;
    font-size: 50px;
    text-transform: uppercase;
}

.game_status {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    padding: 4px 0px 20px 0px;
    font-size: 18px;
}

.reset_button {
    justify-content: center;
}

.messages {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.over_message {
    color: rgb(161, 74, 48);
    font-weight: bold;
    padding-bottom: 4px;
}

.win_message {
    color: rgb(54, 153, 80);
    font-weight: bold;
}